.container {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.caixa {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.c1 {
    background-color: red;
}

.c2 {
    background-color: yellow;
}

.c3 {
    background-color: green;
}

.c4 {
    background-color: blueviolet;
    
}
